[Unit]

Description=trades recorder

Wants=network-online.target influxd.service

After=network-online.target influxd.service


[Service]

Type=simple

WorkingDirectory=/home/ec2-user/ftx-recorder

ExecStart=/usr/bin/python3 /home/ec2-user/ftx-recorder/mult_account_recorder.py

Environment=PYTHONUNBUFFERED=1

Restart=always

RestartSec=2

User=ec2-user


[Install]

# Start at boot
WantedBy=network-online.target
